<div id="group">
    <h2>Groups</h2>

    <button type="button" class="collapsible">Node</button>
    <div class="content">
        <ul>
            <li>
                <div class="name">정영훈</div>
                <div class="created-at">2022-11-10 23:44:10</div>
            </li>
            <li>
                <div class="name">정영훈</div>
                <div class="created-at">2022-11-10 23:44:10</div>
            </li>
            <li>
                <div class="name">정영훈</div>
                <div class="created-at">2022-11-10 23:44:10</div>
            </li>
        </ul>
    </div>
</div>