<table id="users">
    <thead>
        <tr>
            <th>이름</th>
            <th>유저이름(Nickname)</th>
            <th>이메일</th>
            <th>사진</th>
            <th>그룹</th>
            <th>유저 생성일</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>정영훈</td>
            <td>jyh7a</td>
            <td>jyh7a@naver.com</td>
            <td><img src="static/images/sparta_1.jpeg" alt="user-image"></td>
            <td>Nodejs</td>
            <td>2022-11-29</td>
        </tr>
        <tr>
            <td>정영훈</td>
            <td>jyh7a</td>
            <td>jyh7a@naver.com</td>
            <td><img src="static/images/sparta_2.png" alt="user-image"></td>
            <td>Nodejs</td>
            <td>2022-11-29</td>
        </tr>
    </tbody>
</table>