doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title Seop
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        header
            h1 Seop
        main

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
