<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        header {
            background: #e8344e;
        }
    </style>
</head>

<body>
    <header>
        <h2>Spartagram</h2>
        <nav>
            <ul>
                <li><a href="/groups-layout">Groups</a></li>
                <li><a href="/users-layout">Users</a></li>
                <li><a href="/images-layout">Photos</a></li>
            </ul>
        </nav>
    </header>
    <h1>body</h1>
</body>

</html>